<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>Sudoku!</title>
</head>
<body>
    <header>Sudoku!</header>
    <main>
        <form action="/" method="post">
            <div id="lines-container">
                <div class="line">
                    <!-- First line -->
                    <input type="number" name="1" id="1">
                    <input type="number" name="2" id="2">
                    <input type="number" name="3" id="3">
                    <input type="number" name="4" id="4">
                    <input type="number" name="5" id="5">
                    <input type="number" name="6" id="6">
                    <input type="number" name="7" id="7">
                    <input type="number" name="8" id="8">
                    <input type="number" name="9" id="9">
                </div>
                <div class="line">
                    <!-- Second line -->
                    <input type="number" name="10" id="10">
                    <input type="number" name="11" id="11">
                    <input type="number" name="12" id="12">
                    <input type="number" name="13" id="13">
                    <input type="number" name="14" id="14">
                    <input type="number" name="15" id="15">
                    <input type="number" name="16" id="16">
                    <input type="number" name="17" id="17">
                    <input type="number" name="18" id="18">
                </div>
                <div class="line">
                    <!-- Third line -->
                    <input type="number" name="19" id="19">
                    <input type="number" name="20" id="20">
                    <input type="number" name="21" id="21">
                    <input type="number" name="22" id="22">
                    <input type="number" name="23" id="23">
                    <input type="number" name="24" id="24">
                    <input type="number" name="25" id="25">
                    <input type="number" name="26" id="26">
                    <input type="number" name="27" id="27">
                </div>
                <div class="line">
                    <!-- Fourth line -->
                    <input type="number" name="28" id="28">
                    <input type="number" name="29" id="29">
                    <input type="number" name="30" id="30">
                    <input type="number" name="31" id="31">
                    <input type="number" name="32" id="32">
                    <input type="number" name="33" id="33">
                    <input type="number" name="34" id="34">
                    <input type="number" name="35" id="35">
                    <input type="number" name="36" id="36">
                </div>
                <div class="line">
                    <!-- Fifth line -->
                    <input type="number" name="37" id="37">
                    <input type="number" name="38" id="38">
                    <input type="number" name="39" id="39">
                    <input type="number" name="40" id="40">
                    <input type="number" name="41" id="41">
                    <input type="number" name="42" id="42">
                    <input type="number" name="43" id="43">
                    <input type="number" name="44" id="44">
                    <input type="number" name="45" id="45">
                </div>
                <div class="line">
                    <!-- Sixth line -->
                    <input type="number" name="46" id="46">
                    <input type="number" name="47" id="47">
                    <input type="number" name="48" id="48">
                    <input type="number" name="49" id="49">
                    <input type="number" name="50" id="50">
                    <input type="number" name="51" id="51">
                    <input type="number" name="52" id="52">
                    <input type="number" name="53" id="53">
                    <input type="number" name="54" id="54">
                </div>
                <div class="line">
                    <!-- Seventh Line -->
                    <input type="number" name="55" id="55">     
                    <input type="number" name="56" id="56">     
                    <input type="number" name="57" id="57">     
                    <input type="number" name="58" id="58">     
                    <input type="number" name="59" id="59">     
                    <input type="number" name="60" id="60">
                    <input type="number" name="61" id="61">
                    <input type="number" name="62" id="62">
                    <input type="number" name="63" id="63">
                </div>
                <div class="line">
                    <!-- Eight line -->
                    <input type="number" name="64" id="64">
                    <input type="number" name="65" id="65">
                    <input type="number" name="66" id="66">
                    <input type="number" name="67" id="67">
                    <input type="number" name="68" id="68">
                    <input type="number" name="69" id="69">
                    <input type="number" name="70" id="70">
                    <input type="number" name="71" id="71">
                    <input type="number" name="72" id="72">
                </div>
                <div class="line">
                    <!-- Ninth line -->
                    <input type="number" name="73" id="73">
                    <input type="number" name="74" id="74">
                    <input type="number" name="75" id="75">
                    <input type="number" name="76" id="76">
                    <input type="number" name="77" id="77">
                    <input type="number" name="78" id="78">
                    <input type="number" name="79" id="79">
                    <input type="number" name="80" id="80">
                    <input type="number" name="81" id="81">
                </div>
            </div>
            <input type="submit" name="" id="">
        </form>
    </main>
</body>
</html>